/00 - Login/nbproject/private/
/00 - Login/build/
00 - Login/build.xml
*.mf
*.xml
*.properties
/29 - Enumerações/nbproject/private/
/29 - Enumerações/build/
01 - Pagamento de Contas/build/classes/.netbeans_automatic_build
01 - Pagamento de Contas/build/classes/.netbeans_update_resources
